.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin: auto;
    position: relative;
    top:10%
}

button{
    background-color: #FFDF6C;
    width: 300px;
}