<mat-tab-group id="chatChannels" (selectedIndexChange)="updateTab($event)">
    <mat-tab *ngFor="let channel of channelList" [label]="channel.name">
        <div id="chatBox">
            <mat-list>
                <mat-list-item *ngFor="let message of channel.messageHistory">
                    {{ message }}
                </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item *ngFor="let user of channel.userList">
                    {{ user }}
                </mat-list-item>
            </mat-list>
        </div>
    </mat-tab>
</mat-tab-group>
<div id="inputField">
    <div>
        <input matInput id="input" [(ngModel)]="message" maxlength="256" placeholder="Chat with others">
    </div>
    <button mat-raised-button id="sendButton" (onClick)="sendMessage()" >Send</button>
</div>
