.container{
    padding: 30px;
    width: 28%;
    height: 56%;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column ;
    position: relative;
    left:50%;
    top:20%;
    border-radius: 11px;
    margin: 0px;
}
.form{
    display: flex;
    flex-direction: column;
}
.title{
    position: relative;
    left:40%;
}
input{
    width:200px
}

button{
    background-color: #FFDF6C;
}