.container{
    padding: 30px;
    width: 30%;
    height: 60%;
    min-width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column ;
    position: relative;
    left:50%;
    top:20%;
    border-radius: 11px;
}
.form{
    display: flex;
    flex-direction: column;
}
.title{
    position: relative;
    left:40%;
}
input{
    width:200px
}